Repository Yogesh7920/meet.me, pull requests merged in 2021-12, with the labels that each got.

#126 Removed busy waiting
  Networking/CommunicationManager/ClientCommunicator.cs
  Networking/CommunicationManager/ServerCommunicator.cs
  Networking/QueueManagement/IQueue.cs
  Networking/QueueManagement/Queue.cs
  Networking/QueueManagement/ReceiveQueueListener.cs
  Networking/SocketManager/ReceiveSocketListener.cs
  Networking/SocketManager/SendSocketListenerClient.cs
  Networking/SocketManager/SendSocketListenerServer.cs
  Testing/Networking/QueueManagement/ReceiveQueueListenerTest.cs
  Testing/Networking/SocketManagement/ReceiveSocketListenerTesting.cs
  Testing/Networking/SocketManagement/SendSocketListenerClientTesting.cs
  Testing/Networking/SocketManagement/SendSocketListenerServerTesting.cs
Labels: Networking, Testing

#127 Chat Bug fixes
  Client/ChatView.xaml
  Client/ChatView.xaml.cs
  Client/MainWindow.xaml
  Client/MainWindow.xaml.cs
  Client/Theme1.xaml
  Client/Theme2.xaml
  Server/Persistence/PersistenceDownloads/SummaryDownloads/Summary_2021 - 11 - 29_08 - 15 - 57 - PM.txt
  Server/Persistence/PersistenceDownloads/SummaryDownloads/Summary_2021 - 12 - 04_01 - 00 - 58 - PM.txt
  Server/Persistence/PersistenceDownloads/SummaryDownloads/Summary_2021 - 12 - 04_12 - 22 - 29 - PM.txt
  Server/Persistence/PersistenceDownloads/SummaryDownloads/Summary_2021 - 12 - 04_12 - 34 - 28 - PM.txt
  Server/Persistence/PersistenceDownloads/SummaryDownloads/Summary_2021 - 12 - 04_12 - 34 - 29 - PM.txt
  Server/Persistence/PersistenceDownloads/SummaryDownloads/Summary_2021 - 12 - 04_12 - 48 - 38 - PM.txt
  Server/Persistence/PersistenceDownloads/SummaryDownloads/Summary_2021 - 12 - 04_12 - 56 - 24 - PM.txt
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/ServerData/GlobalServerData.xml
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 11 - 29_08 - 15 - 57 - PM/ChatCountVsUserID.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 11 - 29_08 - 15 - 57 - PM/UserCountVsTimeStamp.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 11 - 29_08 - 15 - 57 - PM/insincereMembersList.txt
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_01 - 00 - 58 - PM/ChatCountVsUserID.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_01 - 00 - 58 - PM/UserCountVsTimeStamp.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_01 - 00 - 58 - PM/insincereMembersList.txt
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 22 - 29 - PM/ChatCountVsUserID.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 22 - 29 - PM/UserCountVsTimeStamp.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 22 - 29 - PM/insincereMembersList.txt
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 34 - 29 - PM/ChatCountVsUserID.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 34 - 29 - PM/UserCountVsTimeStamp.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 34 - 29 - PM/insincereMembersList.txt
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 48 - 38 - PM/ChatCountVsUserID.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 48 - 38 - PM/UserCountVsTimeStamp.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 48 - 38 - PM/insincereMembersList.txt
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 56 - 24 - PM/ChatCountVsUserID.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 56 - 24 - PM/UserCountVsTimeStamp.png
  Server/Persistence/PersistenceDownloads/TelemetryDownloads/TelemetryAnalytics/Analytics_2021 - 12 - 04_12 - 56 - 24 - PM/insincereMembersList.txt
  Testing/Persistence/PersistenceDownloads/TelemetryDownloads/ServerData/GlobalServerData.xml
  Testing/UX/Home/HomePageViewModelUnitTest.cs
  Testing/UX/Home/HomeUtils.cs
Labels: Testing, Client, Server

#128 Screen sharing updated
  ScreenSharing/Client/ScreenShareClient.cs
  ScreenSharing/ScreenShareFactory.cs
  ScreenSharing/Server/ScreenShareServer.cs
  ScreenSharing/SharedScreen.cs
  Testing/ScreenSharing/ScreenShareClientTests.cs
  Testing/ScreenSharing/ScreenShareFactoryTesting.cs
  Testing/ScreenSharing/ScreenShareServerTests.cs
  Testing/ScreenSharing/TestModels/TestCommunicator.cs
  Testing/ScreenSharing/TestModels/TestUX.cs
Labels: Testing, ScreenSharing

#130 Fixed ObjectDisposedException
  Networking/QueueManagement/Queue.cs
Labels: Networking

#135 Works over internet
  Networking/CommunicationManager/ServerCommunicator.cs
  Networking/QueueManagement/Queue.cs
  Networking/SocketManager/ReceiveSocketListener.cs
  Networking/SocketManager/SendSocketListenerClient.cs
  Networking/SocketManager/SendSocketListenerServer.cs
Labels: Networking

#136 Client Departure Fix
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Testing/Dashboard/SessionManagement/TestModules/FakeCommunicator.cs
  Testing/Dashboard/TestModels/TestCommunicator.cs
Labels: Dashboard, Testing

#140 Whiteboard issues fixed #1
  Client/WhiteboardUX.cs
Labels: Client

#142 Client Departure Fix
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Client/SessionManagement/IUXClientSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
Labels: Dashboard

#143 added environment variable based port finding
  Networking/CommunicationManager/ClientCommunicator.cs
  Networking/CommunicationManager/ServerCommunicator.cs
Labels: Networking

#144 Rectified constant and enum naming convention
  Client/WhiteboardUX.cs
  Testing/Whiteboard/Client/ClientBoardStateManagerTesting.cs
  Testing/Whiteboard/Client/ClientCheckPointHandlerTesting.cs
  Testing/Whiteboard/Client/Shapes/PolylineTests.cs
  Testing/Whiteboard/Client/Shapes/RectangleTests.cs
  Testing/Whiteboard/Client/Shapes/TestIterators.cs
  Testing/Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandlerTests.cs
  Testing/Whiteboard/Client/StateOperationHandlers/InactiveBoardOperationsHandlerTests.cs
  Testing/Whiteboard/Client/StateOperationHandlers/ShapeFactoryTests.cs
  Testing/Whiteboard/Client/WhiteBoardOperationsHandlerTests.cs
  Testing/Whiteboard/DataStructures/BoardStackTesting.cs
  Testing/Whiteboard/Server/ServerBoardStateManagerTesting.cs
  Testing/Whiteboard/Server/ServerCheckPointHandlerTesting.cs
  Testing/Whiteboard/TestUtilities/StateManagerHelper.cs
  Whiteboard/BoardComponents/BoardConstants.cs
  Whiteboard/BoardComponents/BoardEnums.cs
  Whiteboard/BoardComponents/BoardShape.cs
  Whiteboard/BoardComponents/Coordinate.cs
  Whiteboard/BoardComponents/UXShape.cs
  Whiteboard/BoardComponents/UXShapeHelper.cs
  Whiteboard/Client/ClientBoardStateManager.cs
  Whiteboard/Client/ClientCheckPointHandler.cs
  Whiteboard/Client/Shapes/Ellipse.cs
  Whiteboard/Client/Shapes/Line.cs
  Whiteboard/Client/Shapes/MainShape.cs
  Whiteboard/Client/Shapes/Polyline.cs
  Whiteboard/Client/Shapes/Rectangle.cs
  Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/InactiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/ShapeFactory.cs
  Whiteboard/Client/WhiteBoardOperationHandler.cs
  Whiteboard/DataStructures/BoardPriorityQueue.cs
  Whiteboard/DataStructures/BoardStack.cs
  Whiteboard/Server/ServerBoardCommunicator.cs
  Whiteboard/Server/ServerBoardStateManager.cs
Labels: Whiteboard, Testing, Client

#148 simultaneous arrival fix
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
Labels: Dashboard

#149 bug fixes
  Client/AuthView.xaml
  Client/MainWindow.xaml
Labels: Client

#151 Persistence and UX path issue fixed
  Client/ViewModel/ScreenShareViewModel.cs
  Dashboard/Server/Persistence/SummaryPersistence.cs
  Dashboard/Server/Persistence/TelemetryPersistence.cs
Labels: Dashboard, Client

#152 Some changes in screenshare
  ScreenSharing/Client/ScreenShareClient.cs
  ScreenSharing/Server/ScreenShareServer.cs
  Testing/ScreenSharing/ScreenShareServerTests.cs
Labels: Testing, ScreenSharing
