Repository Yogesh7920/meet.me, pull requests merged in 2021-11, with the labels that each got.

#18 solved server side communicator issue
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
Labels: enhancement, Dashboard

#19 Interfaces exposed for WB and screenshare
  Client/Client.csproj
  ScreenSharing/Client/Interfaces/IScreenShare.cs
  ScreenSharing/Client/ScreenShareClient.cs
  ScreenSharing/Client/SharedScreen.cs
  ScreenSharing/ScreenSharing.csproj
  ScreenSharing/Server/ScreenShareServer.cs
  Whiteboard/BoardComponents/BoardEnums.cs
  Whiteboard/BoardComponents/BoardServerShape.cs
  Whiteboard/BoardComponents/BoardShape.cs
  Whiteboard/BoardComponents/Color.cs
  Whiteboard/BoardComponents/Coordinate.cs
  Whiteboard/BoardComponents/UXShape.cs
  Whiteboard/Class1.cs
  Whiteboard/Client/ClientBoardCommunicator.cs
  Whiteboard/Client/ClientBoardStateManager.cs
  Whiteboard/Client/Interfaces/IClientBoardCommunicator.cs
  Whiteboard/Client/Interfaces/IClientBoardStateListener.cs
  Whiteboard/Client/Interfaces/IClientBoardStateManager.cs
  Whiteboard/Client/Interfaces/IClientBoardStateManagerInternal.cs
  Whiteboard/Client/Interfaces/IClientCheckPointHandler.cs
  Whiteboard/Client/Interfaces/IMessageListener.cs
  Whiteboard/Client/Interfaces/IServerUpdateListener.cs
  Whiteboard/Client/Interfaces/IWhiteBoardOperationHandler.cs
  Whiteboard/Client/WhiteBoardOperationHandler.cs
  Whiteboard/Server/Interfaces/IServerBoardCommunicator.cs
  Whiteboard/Server/Interfaces/IServerBoardStateManager.cs
  Whiteboard/Server/Interfaces/IServerCheckPointHandler.cs
  Whiteboard/Server/Interfaces/IServerMessageListener.cs
  Whiteboard/Server/ServerBoardCommunicator.cs
  Whiteboard/Server/ServerBoardStateManager.cs
  Whiteboard/Utility/Convertor.cs
  Whiteboard/Whiteboard.csproj
Labels: enhancement, Whiteboard, ScreenSharing

#20 Auth (Server) : Removal of Start and End Command
  Dashboard/Session.cs
  Server/Program.cs
Labels: enhancement, UX

#21 Whiteboard Client arrival activity implemented
  Whiteboard/BoardComponents/BoardEnums.cs
  Whiteboard/BoardComponents/BoardServerShape.cs
  Whiteboard/BoardComponents/BoardShape.cs
  Whiteboard/BoardComponents/Color.cs
  Whiteboard/BoardComponents/Coordinate.cs
  Whiteboard/BoardComponents/UXShape.cs
  Whiteboard/Client/ClientBoardCommunicator.cs
  Whiteboard/Client/ClientBoardStateManager.cs
  Whiteboard/Client/ClientCheckPointHandler.cs
  Whiteboard/Client/Interfaces/IClientBoardCommunicator.cs
  Whiteboard/Client/Interfaces/IClientBoardStateListener.cs
  Whiteboard/Client/Interfaces/IClientBoardStateManager.cs
  Whiteboard/Client/Interfaces/IClientBoardStateManagerInternal.cs
  Whiteboard/Client/Interfaces/IClientCheckPointHandler.cs
  Whiteboard/Client/Interfaces/IServerUpdateListener.cs
  Whiteboard/Client/Interfaces/IWhiteBoardOperationHandler.cs
  Whiteboard/Client/Shapes/Ellipse.cs
  Whiteboard/Client/Shapes/Line.cs
  Whiteboard/Client/Shapes/MainShape.cs
  Whiteboard/Client/Shapes/Polyline.cs
  Whiteboard/Client/Shapes/Rectangle.cs
  Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/BoardOperationsState.cs
  Whiteboard/Client/StateOperationHandlers/InactiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/ShapeFactory.cs
  Whiteboard/Client/WhiteBoardOperationHandler.cs
  Whiteboard/DataStructures/BoardPriorityQueue.cs
  Whiteboard/DataStructures/BoardStack.cs
  Whiteboard/DataStructures/QueueElement.cs
  Whiteboard/Server/Interfaces/IServerBoardCommunicator.cs
  Whiteboard/Server/Interfaces/IServerBoardStateManager.cs
  Whiteboard/Server/Interfaces/IServerCheckPointHandler.cs
  Whiteboard/Server/ServerBoardCommunicator.cs
  Whiteboard/Server/ServerBoardStateManager.cs
  Whiteboard/Server/ServerCheckPointHandler.cs
  Whiteboard/Utility/Convertor.cs
  Whiteboard/Whiteboard.csproj
Labels: enhancement, Whiteboard

#22 Client Joining part of socket listener completed.
  Networking/CommunicationManager/ClientCommunicator.cs
  Networking/CommunicationManager/ServerCommunicator.cs
  Networking/QueueManagement/IQueue.cs
  Networking/QueueManagement/Packet.cs
  Networking/QueueManagement/Queue.cs
  Networking/QueueManagement/ReceiveQueueListener.cs
  Networking/SocketManager/RecieveSocketListener.cs
  Networking/SocketManager/SendQueueListener.cs
  Networking/SocketManager/SendSocketListenerClient.cs
  Networking/SocketManager/SendSocketListenerServer.cs
  Networking/SocketManager/ServerCommunicator.cs
  Networking/SocketManager/SocketListener.cs
  Testing/Networking/QueueManagement.cs
  Testing/SocketManagement/ServerCommunicatorTesting.cs
  Testing/SocketManagement/SocketListenerTesting.cs
  Testing/UnitTest1.cs
Labels: enhancement, Networking, Testing, First tester

#23 Queue management module and unit tests for socket listener
  Networking/CommunicationFactory.cs
  Networking/CommunicationManager/ClientCommunicator.cs
  Networking/CommunicationManager/ICommunicator.cs
  Networking/CommunicationManager/ServerCommunicator.cs
  Networking/INotificationHandler.cs
  Networking/QueueManagement/IQueue.cs
  Networking/QueueManagement/Packet.cs
  Networking/QueueManagement/Queue.cs
  Networking/QueueManagement/ReceiveQueueListener.cs
  Networking/Serializer/ISerializer.cs
  Networking/Serializer/Serializer.cs
  Networking/SocketManager/RecieveSocketListener.cs
  Networking/SocketManager/SendSocketListenerClient.cs
  Networking/SocketManager/SendSocketListenerServer.cs
  Testing/Networking/SocketManagement/RecieveSocketListenerTesting.cs
  Testing/Networking/SocketManagement/SendSocketListenerClientTesting.cs
  Testing/Networking/SocketManagement/ServerCommunicatorTesting.cs
  Testing/SocketManagement/SocketListenerTesting.cs
Labels: enhancement, Networking, Testing

#24 Client Arrival and Summary Logic Completed
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Client/SessionManagement/IClientSessionNotifications.cs
  Dashboard/Client/SessionManagement/IUXClientSessionManager.cs
  Dashboard/ClientToServerData.cs
  Dashboard/IRecievedFromServer.cs
  Dashboard/MeetingCredentials.cs
  Dashboard/Server/SessionManagement/ITelemetrySessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Dashboard/Server/Summary/ChatProcessor.cs
  Dashboard/Server/Summary/ISummarizer.cs
  Dashboard/Server/Summary/Stemmer.cs
  Dashboard/Server/Summary/Summarizer.cs
  Dashboard/ServerToClientData.cs
  Dashboard/SessionData.cs
  Dashboard/SessionManagerFactory.cs
  Dashboard/SummaryData.cs
  Dashboard/UserData.cs
  Testing/Dashboard/UnitTest1.cs
Labels: Dashboard, Testing

#26 Module Testing and Socket management Implementation
  Networking/CommunicationFactory.cs
  Networking/CommunicationManager/ClientCommunicator.cs
  Networking/CommunicationManager/ICommunicator.cs
  Networking/CommunicationManager/ServerCommunicator.cs
  Networking/QueueManagement/Queue.cs
  Networking/QueueManagement/ReceiveQueueListener.cs
  Networking/SocketManager/RecieveSocketListener.cs
  Networking/SocketManager/SendSocketListenerClient.cs
  Networking/SocketManager/SendSocketListenerServer.cs
  Testing/Networking/ModuleTesting.cs
  Testing/Networking/NetworkingGlobals.cs
  Testing/Networking/QueueManagement/QueueManagement.cs
  Testing/Networking/QueueManagement/ReceiveQueueListenerTest.cs
  Testing/Networking/SocketManagement/CommunicatorTesting.cs
  Testing/Networking/SocketManagement/RecieveSocketListenerTesting.cs
  Testing/Networking/SocketManagement/SendSocketListenerClientTesting.cs
  Testing/Networking/SocketManagement/ServerCommunicatorTesting.cs
Labels: Networking, Testing

#27 Socket management and Serializer unit tests
  Networking/CommunicationFactory.cs
  Networking/CommunicationManager/ClientCommunicator.cs
  Networking/CommunicationManager/ServerCommunicator.cs
  Networking/QueueManagement/Queue.cs
  Networking/Serializer/ISerializer.cs
  Networking/Serializer/Serializer.cs
  Networking/SocketManager/ReceiveSocketListener.cs
  Testing/Networking/CommunicationFactoryTesting.cs
  Testing/Networking/ModuleTesting.cs
  Testing/Networking/Serialization/Objects.cs
  Testing/Networking/Serialization/SerializerTesting.cs
  Testing/Networking/SocketManagement/CommunicatorTesting.cs
  Testing/Networking/SocketManagement/ReceiveSocketListenerTesting.cs
  Testing/Networking/SocketManagement/SendSocketListenerClientTesting.cs
  Testing/Networking/SocketManagement/SendSocketListenerServerTesting.cs
  Testing/Testing.csproj
Labels: Networking, Testing

#28 MongoDB removed and functionalities are implemented
  Content/Client/ChatClient.cs
  Content/Client/ContentClient.cs
  Content/Client/ContentClientFactory.cs
  Content/Client/ContentClientNotificationHandler.cs
  Content/Client/FileClient.cs
  Content/Content.csproj
  Content/Models/ChatContext.cs
  Content/Models/MessageData.cs
  Content/Models/ReceiveMessageData.cs
  Content/Models/SendFileData.cs
  Content/Server/ChatContextServer.cs
  Content/Server/ChatServer.cs
  Content/Server/ContentDatabase.cs
  Content/Server/ContentServer.cs
  Content/Server/ContentServerFactory.cs
  Content/Server/ContentServerNotificationHandler.cs
  Content/Server/FileServer.cs
  Content/Server/IContentServer.cs
  Content/Server/IdGenerator.cs
  Content/server/ContentServer.cs
  Testing/Content/Client/ChatClientTest.cs
  Testing/Content/Client/ContentClientFactoryTest.cs
  Testing/Content/Client/ContentClientNotificationHandlerTest.cs
  Testing/Content/Client/ContentClientTest.cs
  Testing/Content/Client/FileClientTest.cs
  Testing/Content/ContentModuleTest.cs
  Testing/Content/ContentTestTemplate.cs
  Testing/Content/Server/ChatContextServerTest.cs
  Testing/Content/Server/ChatServerTest.cs
  Testing/Content/Server/ContentDatabaseTest.cs
  Testing/Content/Server/ContentServerFactoryTest.cs
  Testing/Content/Server/ContentServerNotificationHandlerTest.cs
  Testing/Content/Server/ContentServerTest.cs
  Testing/Content/Server/FileServerTest.cs
Labels: Content, Testing

#29 Constraints for Serializer and Communicators
  Networking/CommunicationFactory.cs
  Networking/CommunicationManager/ClientCommunicator.cs
  Networking/CommunicationManager/ServerCommunicator.cs
  Networking/QueueManagement/ReceiveQueueListener.cs
  Networking/Serializer/ISerializer.cs
  Networking/Serializer/Serializer.cs
  Networking/SocketManager/ReceiveSocketListener.cs
  Networking/SocketManager/SendSocketListenerServer.cs
  Testing/Networking/CommunicationFactoryTesting.cs
  Testing/Networking/Serialization/Objects.cs
  Testing/Networking/Serialization/SerializerTesting.cs
  Testing/Networking/SocketManagement/CommunicatorTesting.cs
  Testing/Networking/SocketManagement/ReceiveSocketListenerTesting.cs
  Testing/Networking/SocketManagement/SendSocketListenerClientTesting.cs
  Testing/Networking/SocketManagement/SendSocketListenerServerTesting.cs
Labels: Networking, Testing, URGENT

#32 Partial Module Testing, Telemetry interfaces And Session Management Fix
  Dashboard/ClientToServerData.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Dashboard/Server/Telemetry/ITelemetryAnalysisModel.cs
  Dashboard/Server/Telemetry/ServerDataToSave.cs
  Dashboard/Server/Telemetry/Telemetry.cs
  Dashboard/Server/Telemetry/TelemetryAnalyticsModel.cs
  Dashboard/ServerToClientData.cs
  Dashboard/SessionData.cs
  Testing/Dashboard/ModuleTest.cs
  Testing/Dashboard/TestModels/TestCommunicator.cs
  Testing/Dashboard/UnitTest1.cs
  Testing/Dashboard/Utils.cs
Labels: Dashboard, Testing

#35 UX update
  Client/App.xaml
  Client/AuthView.xaml
  Client/AuthView.xaml.cs
  Client/ChatBubbleSelector.cs
  Client/ChatView.xaml
  Client/ChatView.xaml.cs
  Client/Client.csproj
  Client/Icons/ChatUX/arrow.png
  Client/Icons/ChatUX/close.png
  Client/Icons/ChatUX/download.jpg
  Client/Icons/ChatUX/download.png
  Client/Icons/ChatUX/download1.png
  Client/Icons/ChatUX/download2.jpg
  Client/Icons/ChatUX/file.png
  Client/Icons/ChatUX/file2.jpg
  Client/Icons/ChatUX/file3.png
  Client/Icons/ChatUX/logo.png
  Client/Icons/ChatUX/options.png
  Client/Icons/ChatUX/reply.png
  Client/Icons/ChatUX/reply3.png
  Client/Icons/ChatUX/send.png
  Client/Icons/ChatUX/upload1.png
  Client/Icons/Eraser.cur
  Client/Icons/Eraser_2.cur
  Client/Icons/ExpCol.png
  Client/Icons/MainWindow/icons8-chat-96.png
  Client/Icons/MainWindow/icons8-dashboard-58.png
  Client/Icons/MainWindow/icons8-dashboard-60.png
  Client/Icons/MainWindow/icons8-end-call-96.png
  Client/Icons/MainWindow/icons8-present-to-all-50.png
  Client/Icons/MainWindow/icons8-whiteboard-150.png
  Client/Icons/UsersListUX/ExpCol.png
  Client/Icons/logo.ico
  Client/Icons/logo.png
  Client/MainWindow.xaml
  Client/MainWindow.xaml.cs
  Client/Message.cs
  Client/Theme1.xaml
  Client/Theme2.xaml
  Client/UserViewData.cs
  Client/UsersList.xaml
  Client/UsersList.xaml.cs
  Client/ViewModel/ChatViewModel.cs
  Client/ViewModels/AuthViewModel.cs
  Client/ViewModels/HomePageViewModel.cs
  Client/Whiteboard.xaml
  Client/Whiteboard.xaml.cs
  Client/WhiteboardUX.cs
Labels: Client

#36 Reverted buggy changes
  Content/Client/ContentClient.cs
  Content/Client/ContentClientNotificationHandler.cs
  Content/Client/FileClient.cs
  Content/Models/MessageData.cs
  Content/Server/ChatContextServer.cs
  Content/Server/ChatServer.cs
  Content/Server/ContentDatabase.cs
  Content/Server/ContentServer.cs
  Content/Server/ContentServerNotificationHandler.cs
  Content/Server/FileServer.cs
  Testing/Content/Client/ChatClientTest.cs
  Testing/Content/Client/ContentClientFactoryTest.cs
  Testing/Content/Client/ContentClientNotificationHandlerTest.cs
  Testing/Content/Client/ContentClientTest.cs
  Testing/Content/Client/FileClientTest.cs
  Testing/Content/ContentModuleTest.cs
  Testing/Content/ContentTestTemplate.cs
  Testing/Content/FakeContentListener.cs
  Testing/Content/Server/ChatContextServerTest.cs
  Testing/Content/Server/ChatServerTest.cs
  Testing/Content/Server/ContentDatabaseTest.cs
  Testing/Content/Server/ContentServerFactoryTest.cs
  Testing/Content/Server/ContentServerNotificationHandlerTest.cs
  Testing/Content/Server/ContentServerTest.cs
  Testing/Content/Server/FileServerTest.cs
  Testing/Content/Test_File.pdf
  Testing/Content/Utils.cs
  Testing/Testing.csproj
Labels: Content, Testing

#37 Partial Unit testing for Whiteboard done; Board Operations implementation complete
  Testing/Whiteboard/BoardComponents/Class1.cs
  Testing/Whiteboard/Client/Class1.cs
  Testing/Whiteboard/DataStructures/Class1.cs
  Testing/Whiteboard/Server/Class1.cs
  Whiteboard/BoardComponents/BoardConstants.cs
  Whiteboard/BoardComponents/BoardEnums.cs
  Whiteboard/BoardComponents/BoardServerShape.cs
  Whiteboard/BoardComponents/BoardShape.cs
  Whiteboard/BoardComponents/Color.cs
  Whiteboard/BoardComponents/Coordinate.cs
  Whiteboard/BoardComponents/UXShape.cs
  Whiteboard/Client/ClientBoardCommunicator.cs
  Whiteboard/Client/ClientBoardStateManager.cs
  Whiteboard/Client/Interfaces/IClientBoardStateManager.cs
  Whiteboard/Client/Interfaces/IClientBoardStateManagerInternal.cs
  Whiteboard/Client/Interfaces/IWhiteBoardOperationHandler.cs
  Whiteboard/Client/Shapes/Ellipse.cs
  Whiteboard/Client/Shapes/Line.cs
  Whiteboard/Client/Shapes/MainShape.cs
  Whiteboard/Client/Shapes/Polyline.cs
  Whiteboard/Client/Shapes/Rectangle.cs
  Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/BoardOperationsState.cs
  Whiteboard/Client/StateOperationHandlers/InactiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/ShapeFactory.cs
  Whiteboard/Client/WhiteBoardOperationHandler.cs
  Whiteboard/DataStructures/BoardPriorityQueue.cs
  Whiteboard/DataStructures/BoardStack.cs
  Whiteboard/Server/ServerBoardCommunicator.cs
  Whiteboard/Server/ServerBoardStateManager.cs
Labels: Whiteboard, Testing

#39 Module And Unit Testing For Client Side, Bug Fix
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Client/SessionManagement/IClientSessionNotifications.cs
  Dashboard/Client/SessionManagement/IUXClientSessionManager.cs
  Dashboard/ClientToServerData.cs
  Dashboard/IRecievedFromServer.cs
  Dashboard/MeetingCredentials.cs
  Dashboard/Server/Persistence/Interface1.cs
  Dashboard/Server/SessionManagement/ITelemetryNotifications.cs
  Dashboard/Server/SessionManagement/ITelemetrySessionManager.cs
  Dashboard/Server/SessionManagement/IUXServerSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Dashboard/Server/Summary/ChatProcessor.cs
  Dashboard/Server/Summary/ISummarizer.cs
  Dashboard/Server/Summary/Stemmer.cs
  Dashboard/Server/Summary/Summarizer.cs
  Dashboard/Server/Summary/SummarizerFactory.cs
  Dashboard/Server/Telemetry/ITelemetry.cs
  Dashboard/Server/Telemetry/ITelemetryAnalysisModel.cs
  Dashboard/Server/Telemetry/ServerDataToSave.cs
  Dashboard/Server/Telemetry/SessionAnalytics.cs
  Dashboard/Server/Telemetry/Telemetry.cs
  Dashboard/Server/Telemetry/TelemetryAnalyticsModel.cs
  Dashboard/ServerToClientData.cs
  Dashboard/SessionData.cs
  Dashboard/SessionManagerFactory.cs
  Dashboard/SummaryData.cs
  Dashboard/Trace.cs
  Dashboard/UserData.cs
  Testing/Dashboard/ModuleTest.cs
  Testing/Dashboard/SessionManagement/SessionManagementTest.cs
  Testing/Dashboard/SessionManagement/TestModules/TestCommunicator.cs
  Testing/Dashboard/TestModels/TestCommunicator.cs
  Testing/Dashboard/TestModels/TestContentServer.cs
  Testing/Dashboard/TestModels/TestUX.cs
  Testing/Dashboard/Utils.cs
Labels: Dashboard, Testing

#42 Client side module test added for CSend, CMarkstar, CDownload
  Content/Client/ChatClient.cs
  Content/Client/ContentClient.cs
  Content/Client/ContentClientFactory.cs
  Content/Client/ContentClientNotificationHandler.cs
  Content/Client/FileClient.cs
  Content/Models/SendFileData.cs
  Testing/Content/Client/ChatClientTest.cs
  Testing/Content/ContentModuleTest.cs
  Testing/Content/FakeCommunicator.cs
  Testing/Content/FakeContentListener.cs
  Testing/Content/Utils.cs
Labels: Content, Testing

#43 Dashboard UX added
  Client/Client.csproj
  Client/DashboardView.xaml
  Client/DashboardView.xaml.cs
  Client/ViewModel/DashboardViewModel.cs
  Client/Whiteboard.xaml.cs
  Client/WhiteboardUX.cs
Labels: Client

#44 Notification handler fixed
  Content/Models/MessageData.cs
  Content/Models/SendFileData.cs
  Content/Server/ChatContextServer.cs
  Content/Server/ContentDatabase.cs
  Content/Server/ContentServer.cs
  Content/Server/ContentServerFactory.cs
  Content/Server/ContentServerNotificationHandler.cs
  Content/Server/FileServer.cs
  Content/Server/IdGenerator.cs
  Testing/Content/Server/ChatContextServerTest.cs
  Testing/Content/Server/ChatServerTest.cs
  Testing/Content/Server/ContentDatabaseTest.cs
  Testing/Content/Server/ContentServerFactoryTest.cs
  Testing/Content/Server/FileServerTest.cs
Labels: Content, Testing

#45 Persistence, Telemetry Completed and Unit Testing
  Dashboard/Dashboard.csproj
  Dashboard/Server/Persistence/ISummaryPersistence.cs
  Dashboard/Server/Persistence/ITelemetryPersistence.cs
  Dashboard/Server/Persistence/Interface1.cs
  Dashboard/Server/Persistence/PersistenceFactory.cs
  Dashboard/Server/Persistence/ResponseEntity.cs
  Dashboard/Server/Persistence/SummaryPersistence.cs
  Dashboard/Server/Persistence/TelemetryPersistence.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Dashboard/Server/Summary/ChatProcessor.cs
  Dashboard/Server/Summary/ISummarizer.cs
  Dashboard/Server/Summary/Stemmer.cs
  Dashboard/Server/Summary/Summarizer.cs
  Dashboard/Server/Telemetry/ITelemetry.cs
  Dashboard/Server/Telemetry/ServerDataToSave.cs
  Dashboard/Server/Telemetry/SessionAnalytics.cs
  Dashboard/Server/Telemetry/SessionSummary.cs
  Dashboard/Server/Telemetry/Telemetry.cs
  Dashboard/SessionData.cs
  Dashboard/SessionManagerFactory.cs
  Testing/Dashboard/ModuleTest.cs
  Testing/Dashboard/Persistence.UnitTests/PersistenceNUnitTests.cs
  Testing/Dashboard/SessionManagement/SessionManagementTest.cs
Labels: Dashboard, Testing

#46 Module Testing, Server Module Initialisations
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Client/SessionManagement/IUXClientSessionManager.cs
  Dashboard/Dashboard.csproj
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Testing/Dashboard/ModuleTest.cs
  Testing/Dashboard/Persistence/PersistenceNUnitTests.cs
  Testing/Dashboard/SessionManagement/SessionManagementTest.cs
  Testing/Dashboard/TestModels/TestCommunicator.cs
  Testing/Dashboard/TestModels/TestContentServer.cs
  Testing/Dashboard/TestModels/TestUX.cs
  Testing/Dashboard/Utils.cs
Labels: Dashboard, Testing

#47 Comments about files for module testing and queue management
  Networking/CommunicationManager/ClientCommunicator.cs
  Networking/CommunicationManager/ICommunicator.cs
  Networking/CommunicationManager/ServerCommunicator.cs
  Networking/INotificationHandler.cs
  Networking/QueueManagement/IQueue.cs
  Networking/QueueManagement/Packet.cs
  Networking/QueueManagement/Queue.cs
  Networking/QueueManagement/ReceiveQueueListener.cs
  Networking/SocketManager/ReceiveSocketListener.cs
  Networking/SocketManager/SendSocketListenerClient.cs
  Networking/SocketManager/SendSocketListenerServer.cs
  Testing/Networking/ModuleTesting.cs
  Testing/Networking/NetworkingGlobals.cs
  Testing/Networking/QueueManagement/QueueManagement.cs
  Testing/Networking/QueueManagement/ReceiveQueueListenerTest.cs
  Testing/Networking/Serialization/SerializerTesting.cs
  Testing/Networking/SocketManagement/ReceiveSocketListenerTesting.cs
Labels: Networking, Testing

#48 New interface added for UX, ClientFactory module and unit test added
  Content/Client/ContentClient.cs
  Content/Client/ContentClientNotificationHandler.cs
  Content/Client/FileClient.cs
  Content/Client/IContentClient.cs
  Content/Models/ChatContext.cs
  Content/Models/MessageData.cs
  Content/Models/ReceiveMessageData.cs
  Content/Models/SendFileData.cs
  Content/Models/SendMessageData.cs
  Testing/Content/Client/ContentClientFactoryTest.cs
  Testing/Content/ContentModuleTest.cs
  Testing/Content/FakeContentListener.cs
Labels: Content, Testing

#50 Chat UX integration
  Client/App.xaml
  Client/ChatView.xaml
  Client/ChatView.xaml.cs
  Client/Client.csproj
  Client/Icons/logo.ico
  Client/Icons/meet.me_logo_no_bg.png
  Client/Icons/screenshare.png
  Client/MainWindow.xaml
  Client/MainWindow.xaml.cs
  Client/ScreenShare.cs
  Client/ScreenShareUX.xaml
  Client/ScreenShareUX.xaml.cs
  Client/ViewModel/ChatViewModel.cs
  Client/ViewModels/HomePageViewModel.cs
  Server/Program.cs
Labels: Client, Server

#51 Auth View re-added
  Client/App.xaml
  Client/ChatView.xaml
  Client/ChatView.xaml.cs
  Client/MainWindow.xaml
  Client/ViewModel/ChatViewModel.cs
Labels: Client

#52 Updated "OnAllMessages"
  Client/ViewModel/ChatViewModel.cs
  Testing/Client/Chat/ChatUnitTest.cs
Labels: Testing, Client

#53 Layout Integration
  Client/AuthView.xaml
  Client/AuthView.xaml.cs
  Client/ChatView.xaml.cs
  Client/Client.csproj
  Client/MainWindow.xaml
  Client/MainWindow.xaml.cs
  Client/Theme1.xaml
  Client/Theme2.xaml
  Client/ViewModel/ChatViewModel.cs
  Testing/Client/Chat/ChatUnitTest.cs
Labels: Testing, Client

#54 Client side module test done, method renamed according to convention
  Client/MainWindow.xaml.cs
  Client/ViewModel/ChatViewModel.cs
  Content/Client/ContentClientFactory.cs
  Content/Client/FileClient.cs
  Content/Server/ContentServer.cs
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Server/Program.cs
  Testing/Content/Client/ChatClientTest.cs
  Testing/Content/Client/ContentClientFactoryTest.cs
  Testing/Content/ContentModuleTest.cs
  Testing/Content/Utils.cs
Labels: Content, Dashboard, Testing, Client, Server

#57 Bug Fixes
  Client/AuthView.xaml
  Client/AuthView.xaml.cs
  Client/Client.csproj
  Client/MainWindow.xaml
  Client/UsersList.xaml.cs
  Client/ViewModel/AuthViewModel.cs
  Client/ViewModel/ChatViewModel.cs
  Client/ViewModel/HomePageViewModel.cs
  Testing/UX/Chat/ChatUnitTest.cs
  Testing/UX/Module/UXModuleTesting.cs
Labels: Testing, Client

#59 User List View Fixed
  Client/UsersList.xaml
  Client/UsersList.xaml.cs
  Client/ViewModel/ChatViewModel.cs
  Client/ViewModel/HomePageViewModel.cs
Labels: Client

#61 Module test and Server unit test completed
  Content/Client/ChatClient.cs
  Content/Client/ContentClient.cs
  Content/Models/MessageData.cs
  Content/Models/ReceiveMessageData.cs
  Content/Models/SendFileData.cs
  Content/Models/SendMessageData.cs
  Content/Server/ChatContextServer.cs
  Content/Server/ContentDatabase.cs
  Content/Server/ContentServer.cs
  Content/Server/ContentServerFactory.cs
  Content/Server/ContentServerNotificationHandler.cs
  Content/Server/FileServer.cs
  Content/Server/IContentServer.cs
  Content/Server/IdGenerator.cs
  Testing/Content/Client/ChatClientTest.cs
  Testing/Content/ContentModuleTest.cs
  Testing/Content/FakeCommunicator.cs
  Testing/Content/FakeContentListener.cs
  Testing/Content/Server/ChatContextServerTest.cs
  Testing/Content/Server/ContentDatabaseTest.cs
  Testing/Content/Server/ContentServerFactoryTest.cs
  Testing/Content/Server/ContentServerNotificationHandlerTest.cs
  Testing/Content/Server/ContentServerTest.cs
  Testing/Content/Server/FileServerTest.cs
  Testing/Content/Utils.cs
Labels: Content, Testing

#62 Whiteboard implementation complete and unit tests added
  Testing/Whiteboard/Client/ClientBoardStateManagerTesting.cs
  Testing/Whiteboard/Client/Shapes/Comparators.cs
  Testing/Whiteboard/Client/Shapes/EllipseTests.cs
  Testing/Whiteboard/Client/Shapes/LineTests.cs
  Testing/Whiteboard/Client/Shapes/PolylineTests.cs
  Testing/Whiteboard/Client/Shapes/RectangleTests.cs
  Testing/Whiteboard/Client/Shapes/TestIterators.cs
  Testing/Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandlerTests.cs
  Testing/Whiteboard/DataStructures/BoardPriorityQueueTesting.cs
  Testing/Whiteboard/DataStructures/BoardStackTesting.cs
  Testing/Whiteboard/Server/ServerBoardStateManagerTesting.cs
  Testing/Whiteboard/TestUtilities/StateManagerHelper.cs
  Whiteboard/BoardComponents/BoardConstants.cs
  Whiteboard/BoardComponents/BoardEnums.cs
  Whiteboard/BoardComponents/Color.cs
  Whiteboard/BoardComponents/UXShape.cs
  Whiteboard/Client/ClientBoardStateManager.cs
  Whiteboard/Client/ClientCheckPointHandler.cs
  Whiteboard/Client/Interfaces/IClientCheckPointHandler.cs
  Whiteboard/Client/Shapes/Line.cs
  Whiteboard/Client/Shapes/MainShape.cs
  Whiteboard/Client/Shapes/Polyline.cs
  Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/BoardOperationsState.cs
  Whiteboard/Client/StateOperationHandlers/InactiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/ShapeFactory.cs
  Whiteboard/Client/WhiteBoardOperationHandler.cs
  Whiteboard/DataStructures/BoardPriorityQueue.cs
  Whiteboard/Server/ServerBoardCommunicator.cs
  Whiteboard/Server/ServerBoardStateManager.cs
  Whiteboard/Server/ServerCheckPointHandler.cs
Labels: Whiteboard, Testing

#63 Chat bug fix
  Client/ViewModel/ChatViewModel.cs
  Client/ViewModel/HomePageViewModel.cs
  Testing/UX/Chat/ChatUnitTest.cs
  Testing/UX/Chat/ChatUtils.cs
  meet.me.sln
Labels: Testing, Client

#65 Chat Client and Notification handler unit test done
  Content/Client/ChatClient.cs
  Content/Client/ContentClientNotificationHandler.cs
  Testing/Content/Client/ChatClientTest.cs
  Testing/Content/Client/ContentClientNotificationHandlerTest.cs
  Testing/Content/ContentModuleTest.cs
  Testing/Content/FakeContentNotificationHandler.cs
Labels: Content, Testing

#67 Content testing done
  Content/Client/ChatClient.cs
  Content/Client/ContentClient.cs
  Content/Client/ContentClientNotificationHandler.cs
  Content/Models/ChatContext.cs
  Testing/Content/Client/ChatClientTest.cs
  Testing/Content/Client/ContentClientTest.cs
  Testing/Content/ContentModuleTest.cs
Labels: Content, Testing

#68 Module Testing and Unit Testing Completed
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Client/SessionManagement/IUXClientSessionManager.cs
  Dashboard/IRecievedFromServer.cs
  Dashboard/Server/Persistence/PersistenceFactory.cs
  Dashboard/Server/Persistence/ResponseEntity.cs
  Dashboard/Server/Persistence/SummaryPersistence.cs
  Dashboard/Server/Persistence/TelemetryPersistence.cs
  Dashboard/Server/SessionManagement/ITelemetrySessionManager.cs
  Dashboard/Server/SessionManagement/IUXServerSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Dashboard/Server/Summary/ChatProcessor.cs
  Dashboard/Server/Summary/ISummarizer.cs
  Dashboard/Server/Summary/Stemmer.cs
  Dashboard/Server/Summary/Summarizer.cs
  Dashboard/Server/Summary/SummarizerFactory.cs
  Dashboard/Server/Telemetry/ITelemetry.cs
  Dashboard/Server/Telemetry/SessionAnalytics.cs
  Dashboard/Server/Telemetry/Telemetry.cs
  Dashboard/Server/Telemetry/TelemetryFactory.cs
  Dashboard/ServerToClientData.cs
  Dashboard/SessionData.cs
  Dashboard/SessionManagerFactory.cs
  Dashboard/SummaryData.cs
  Dashboard/UserData.cs
  Testing/Dashboard/ModuleTest.cs
  Testing/Dashboard/Persistence/PersistenceNUnitTests.cs
  Testing/Dashboard/SessionManagement/SessionManagementTest.cs
  Testing/Dashboard/SessionManagement/TestModules/FakeClientUX.cs
  Testing/Dashboard/SessionManagement/TestModules/FakeServerUX.cs
  Testing/Dashboard/SessionManagement/TestModules/FakeTelemetry.cs
  Testing/Dashboard/SessionManagement/TestModules/TestCommunicator.cs
  Testing/Dashboard/SessionManagement/TestModules/TestContentServer.cs
  Testing/Dashboard/SessionManagement/Utils.cs
  Testing/Dashboard/Summary/SummaryTest.cs
  Testing/Dashboard/Summary/Utils.cs
  Testing/Dashboard/Telemetry/TelemetryTests.cs
  Testing/Dashboard/TestModels/TestCommunicator.cs
  Testing/Dashboard/TestModels/TestUX.cs
  Testing/Dashboard/TestModels/TestWhiteBoard.cs
  Testing/Dashboard/Utils.cs
Labels: Dashboard, Testing

#69 Author comments and Implemented JSON serializer
  Networking/CommunicationManager/ClientCommunicator.cs
  Networking/CommunicationManager/ServerCommunicator.cs
  Networking/Networking.csproj
  Networking/Serializer/Serializer.cs
  Networking/SocketManager/ReceiveSocketListener.cs
  Networking/SocketManager/SendSocketListenerClient.cs
  Networking/SocketManager/SendSocketListenerServer.cs
  Testing/Networking/ModuleTesting.cs
  Testing/Networking/Serialization/SerializerTesting.cs
  Testing/Networking/SocketManagement/CommunicatorTesting.cs
  Testing/Networking/SocketManagement/ReceiveSocketListenerTesting.cs
  Testing/Networking/SocketManagement/SendSocketListenerClientTesting.cs
  Testing/Networking/SocketManagement/SendSocketListenerServerTesting.cs
Labels: Networking, Testing

#70 Reply feature added in content module
  Content/Client/ChatClient.cs
  Content/Client/ContentClient.cs
  Content/Client/ContentClientNotificationHandler.cs
  Content/Models/ReceiveMessageData.cs
  Content/Models/SendMessageData.cs
  Testing/Content/ContentModuleTest.cs
Labels: Content, Testing

#73 Reply chat feature updated
  Content/Client/ContentClient.cs
  Content/Models/ChatContext.cs
  Content/Models/ReceiveMessageData.cs
  Content/Models/SendMessageData.cs
  Testing/Content/ContentModuleTest.cs
Labels: Content, Testing

#75 Tests added for reply feature
  Content/Client/ContentClient.cs
  Testing/Content/Client/ContentClientTest.cs
Labels: Content, Testing

#74 Bug fixes
  Client/App.xaml
  Client/ChatView.xaml.cs
  Client/DashboardView.xaml
  Client/DashboardView.xaml.cs
  Client/Message.cs
  Client/UserViewData.cs
  Client/UsersList.xaml
  Client/UsersList.xaml.cs
  Client/ViewModel/AuthViewModel.cs
  Client/ViewModel/ChatViewModel.cs
  Client/ViewModel/DashboardViewModel.cs
  Client/ViewModel/HomePageViewModel.cs
  Server/Program.cs
  Testing/UX/Chat/ChatUnitTest.cs
  Testing/UX/Chat/ChatUtils.cs
  Testing/UX/Chat/ChatViewModelUnitTests.cs
  Testing/UX/Chat/ChatViewUnitTests.cs
Labels: Testing, Client, Server

#79 Whiteboard Initialisation fix
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
Labels: Dashboard

#80 Dashboard Module Completed
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Dashboard/ServerToClientData.cs
  ModuleSpec/dashboard.pdf
  Testing/Dashboard/ModuleTest.cs
  Testing/Dashboard/SessionManagement/SessionManagementTest.cs
  Testing/Dashboard/TestModels/TestUX.cs
  Testing/Dashboard/Utils.cs
Labels: Dashboard, Testing

#81 Exception handling added in case of network side issues
  Content/Client/ChatClient.cs
  Content/Client/ContentClient.cs
  Content/Client/ContentClientNotificationHandler.cs
  Content/Client/FileClient.cs
  Content/Server/ChatContextServer.cs
  Content/Server/ContentServer.cs
Labels: Content

#83 Remove manual fragmentation
  Networking/SocketManager/ReceiveSocketListener.cs
  Networking/SocketManager/SendSocketListenerClient.cs
  Networking/SocketManager/SendSocketListenerServer.cs
  Testing/Networking/ModuleTesting.cs
  Testing/Networking/SocketManagement/ReceiveSocketListenerTesting.cs
  Testing/Networking/SocketManagement/SendSocketListenerClientTesting.cs
Labels: Networking, Testing

#85 Fix for new client not being able to download existing files sent in chat
  Content/Models/ChatContext.cs
  Content/Server/ChatContextServer.cs
  Content/Server/ContentDatabase.cs
  Testing/Content/Client/ContentClientTest.cs
  Testing/Content/ContentModuleTest.cs
  Testing/Content/Server/ChatContextServerTest.cs
  Testing/Content/Utils.cs
Labels: Content, Testing

#86 Updated author comments
  Networking/CommunicationManager/ClientCommunicator.cs
  Networking/CommunicationManager/ICommunicator.cs
  Networking/CommunicationManager/ServerCommunicator.cs
  Networking/INotificationHandler.cs
  Networking/Networking.csproj
  Networking/QueueManagement/IQueue.cs
  Networking/QueueManagement/Packet.cs
  Networking/QueueManagement/Queue.cs
  Networking/QueueManagement/ReceiveQueueListener.cs
  Networking/Serializer/ISerializer.cs
  Networking/Serializer/Serializer.cs
  Networking/SocketManager/ReceiveSocketListener.cs
  Networking/SocketManager/SendSocketListenerClient.cs
  Networking/SocketManager/SendSocketListenerServer.cs
  Testing/Networking/ModuleTesting.cs
  Testing/Networking/NetworkingGlobals.cs
  Testing/Networking/QueueManagement/QueueManagement.cs
  Testing/Networking/QueueManagement/ReceiveQueueListenerTest.cs
  Testing/Networking/Serialization/SerializerTesting.cs
  Testing/Networking/SocketManagement/CommunicatorTesting.cs
  Testing/Networking/SocketManagement/ReceiveSocketListenerTesting.cs
  Testing/Networking/SocketManagement/SendSocketListenerClientTesting.cs
  Testing/Networking/SocketManagement/SendSocketListenerServerTesting.cs
Labels: Networking, Testing

#89 User List
  Client/ChatView.xaml
  Client/ChatView.xaml.cs
  Client/Message.cs
  Client/ScreenShare.cs
  Client/ScreenShareUX.xaml.cs
  Client/Theme1.xaml
  Client/Theme2.xaml
  Client/UserViewData.cs
  Client/UsersList.xaml.cs
  Client/ViewModel/ChatViewModel.cs
  Client/ViewModel/HomePageViewModel.cs
  ScreenSharing/Client/Interfaces/IScreenShare.cs
  Server/Program.cs
  Testing/UX/Home/HomePageViewModelUnitTest.cs
  Testing/UX/Home/HomeUtils.cs
Labels: Testing, ScreenSharing, Client, Server

#90 Few fixes in whiteboard and screenshare and unit tests added
  ScreenSharing/Class1.cs
  ScreenSharing/Client/Interfaces/IScreenShare.cs
  ScreenSharing/Client/ScreenShareClient.cs
  ScreenSharing/Client/SharedScreen.cs
  ScreenSharing/ScreenShareFactory.cs
  ScreenSharing/ScreenSharing.csproj
  ScreenSharing/Server/ScreenShareServer.cs
  ScreenSharing/SharedScreen.cs
  Testing/Whiteboard/BoardComponents/Class1.cs
  Testing/Whiteboard/BoardComponents/CoordinateTests.cs
  Testing/Whiteboard/Client/Class1.cs
  Testing/Whiteboard/Client/ClientBoardStateManagerTesting.cs
  Testing/Whiteboard/Client/Shapes/Comparators.cs
  Testing/Whiteboard/Client/Shapes/LineTests.cs
  Testing/Whiteboard/Client/Shapes/PolylineTests.cs
  Testing/Whiteboard/Client/Shapes/RectangleTests.cs
  Testing/Whiteboard/Client/Shapes/TestIterators.cs
  Testing/Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandlerTests.cs
  Testing/Whiteboard/Client/StateOperationHandlers/InactiveBoardOperationsHandlerTests.cs
  Testing/Whiteboard/Client/StateOperationHandlers/ShapeFactoryTests.cs
  Testing/Whiteboard/Client/UserLevelHandlerTesting.cs
  Testing/Whiteboard/DataStructures/Class1.cs
  Testing/Whiteboard/Server/Class1.cs
  Testing/Whiteboard/TestUtilities/StateManagerHelper.cs
  Whiteboard/BoardComponents/BoardConstants.cs
  Whiteboard/BoardComponents/Coordinate.cs
  Whiteboard/BoardComponents/UXShape.cs
  Whiteboard/BoardComponents/UXShapeHelper.cs
  Whiteboard/Client/ClientBoardStateManager.cs
  Whiteboard/Client/Interfaces/IClientBoardStateListener.cs
  Whiteboard/Client/Shapes/MainShape.cs
  Whiteboard/Client/Shapes/Polyline.cs
  Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/BoardOperationsState.cs
  Whiteboard/Client/StateOperationHandlers/InactiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/ShapeFactory.cs
  Whiteboard/Client/UserLevelHandler.cs
  Whiteboard/Client/WhiteBoardOperationHandler.cs
Labels: Whiteboard, Testing, ScreenSharing

#92 SetUserId now automatically fetches message history from the server on being called
  Content/Client/ContentClient.cs
  Content/Client/ContentClientFactory.cs
  Content/Models/Enums.cs
  Content/Server/ChatContextServer.cs
  Content/Server/ContentServer.cs
  Testing/Content/Server/ContentServerTest.cs
Labels: Content, Testing

#93 Whiteboard Updates
  Testing/Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandlerTests.cs
  Testing/Whiteboard/Client/WhiteBoardOperationsHandlerTests.cs
  Whiteboard/BoardComponents/UXShape.cs
  Whiteboard/Client/ClientBoardCommunicator.cs
  Whiteboard/Client/ClientCheckPointHandler.cs
  Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/BoardOperationsState.cs
  Whiteboard/Client/WhiteBoardOperationHandler.cs
  Whiteboard/Server/ServerBoardCommunicator.cs
  Whiteboard/Server/ServerCheckPointHandler.cs
Labels: Whiteboard, Testing

#94 ScreenShare bug fix
  Client/AuthView.xaml
  Client/AuthView.xaml.cs
  Client/Client.csproj
  Client/MainWindow.xaml
  Client/MainWindow.xaml.cs
  Client/ScreenShare.cs
  Client/ScreenShareUX.xaml.cs
  Client/ViewModel/AuthViewModel.cs
  Client/ViewModel/ScreenShareViewModel.cs
  Testing/Testing.csproj
  Testing/UX/Authentication/AuthUtils.cs
  Testing/UX/Authentication/AuthViewModelUnitTest.cs
Labels: Testing, Client

#95 Fixing bugs
  Whiteboard/Client/ClientBoardStateManager.cs
  Whiteboard/Client/Interfaces/IClientBoardStateManager.cs
  Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandler.cs
  Whiteboard/Server/ServerBoardStateManager.cs
Labels: Whiteboard

#96 Notifying subscribers by non-blocking calls and Fixed Receiver IDs intersection function
  Content/Client/ContentClient.cs
  Content/Server/ContentServer.cs
  Testing/Content/ContentModuleTest.cs
  Testing/Content/Server/ContentServerNotificationHandlerTest.cs
  Testing/Content/Server/ContentServerTest.cs
Labels: Content, Testing

#97 TestWhiteBoard Bug Fix
  Dashboard/Server/Telemetry/Telemetry.cs
  Testing/Dashboard/Telemetry/TelemetryTests.cs
  Testing/Dashboard/TestModels/TestWhiteBoard.cs
Labels: Dashboard, Testing

#99 Fixes for screenshare and added tests for Whiteboard communicator
  ScreenSharing/Client/ScreenShareClient.cs
  ScreenSharing/ScreenShareFactory.cs
  ScreenSharing/Server/ScreenShareServer.cs
  Testing/ScreenSharing/ScreenShareFactoryTesting.cs
  Testing/Whiteboard/Client/ClientBoardCommunicatorTesting.cs
  Testing/Whiteboard/Server/ServerBoardCommunicatorTesting.cs
Labels: Testing, ScreenSharing

#100 Removed XML and Removed constraints on messages
  Networking/CommunicationManager/ClientCommunicator.cs
  Networking/CommunicationManager/ServerCommunicator.cs
  Networking/QueueManagement/Queue.cs
  Networking/Serializer/ISerializer.cs
  Networking/Serializer/Serializer.cs
  Networking/SocketManager/ReceiveSocketListener.cs
  Networking/SocketManager/SendSocketListenerClient.cs
  Networking/SocketManager/SendSocketListenerServer.cs
  Networking/Utils.cs
  Testing/Networking/ModuleTesting.cs
  Testing/Networking/Serialization/SerializerTesting.cs
  Testing/Networking/SocketManagement/ReceiveSocketListenerTesting.cs
  Testing/Networking/SocketManagement/SendSocketListenerServerTesting.cs
Labels: Networking, Testing

#103 Scroll Bar Fix
  Client/ChatBubbleSelector.cs
  Client/ChatView.xaml
  Client/ChatView.xaml.cs
  Client/Message.cs
  Client/ViewModel/ChatViewModel.cs
  Client/Whiteboard.xaml
  Client/Whiteboard.xaml.cs
  Client/WhiteboardUX.cs
  Testing/UX/Chat/ChatUnitTests.cs
  Testing/UX/Chat/ChatUtils.cs
  Testing/UX/Chat/ChatViewModelUnitTests.cs
  Testing/UX/Chat/ChatViewUnitTests.cs
  Testing/UX/Chat/Test_File.pdf
  Testing/UX/Whiteboard/WhiteboardViewModelUnitTests.cs
Labels: Testing, Client

#104 Fixed memory allocation in serializer
  Networking/QueueManagement/Queue.cs
  Networking/Serializer/Serializer.cs
  Networking/SocketManager/ReceiveSocketListener.cs
  Networking/SocketManager/SendSocketListenerClient.cs
Labels: Networking

#106 fixed thread issue on receiving empty message
  Networking/SocketManager/ReceiveSocketListener.cs
Labels: Networking

#108 Fix for server side communicator in Screen share ref. Issue #105
  ScreenSharing/ScreenShareFactory.cs
  ScreenSharing/Server/ScreenShareServer.cs
  Testing/ScreenSharing/ScreenShareFactoryTesting.cs
Labels: Testing, ScreenSharing

#111 Bug fixes for clearing whiteboard and updated traces
  ScreenSharing/Client/ScreenShareClient.cs
  ScreenSharing/ScreenShareFactory.cs
  ScreenSharing/Server/ScreenShareServer.cs
  Testing/Whiteboard/BoardComponents/CoordinateTests.cs
  Testing/Whiteboard/Client/ClientBoardStateManagerTesting.cs
  Testing/Whiteboard/Client/Shapes/Comparators.cs
  Testing/Whiteboard/Client/Shapes/EllipseTests.cs
  Testing/Whiteboard/Client/Shapes/LineTests.cs
  Testing/Whiteboard/Client/Shapes/PolylineTests.cs
  Testing/Whiteboard/Client/Shapes/RectangleTests.cs
  Testing/Whiteboard/Client/Shapes/TestIterators.cs
  Testing/Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandlerTests.cs
  Testing/Whiteboard/Client/StateOperationHandlers/InactiveBoardOperationsHandlerTests.cs
  Testing/Whiteboard/Client/WhiteBoardOperationsHandlerTests.cs
  Testing/Whiteboard/DataStructures/BoardPriorityQueueTesting.cs
  Testing/Whiteboard/Server/ServerBoardStateManagerTesting.cs
  Testing/Whiteboard/Server/ServerCheckPointHandlerTesting.cs
  Testing/Whiteboard/TestUtilities/StateManagerHelper.cs
  Whiteboard/BoardComponents/BoardShape.cs
  Whiteboard/BoardComponents/Coordinate.cs
  Whiteboard/BoardComponents/UXShape.cs
  Whiteboard/Client/ClientBoardStateManager.cs
  Whiteboard/Client/Shapes/Ellipse.cs
  Whiteboard/Client/Shapes/Line.cs
  Whiteboard/Client/Shapes/MainShape.cs
  Whiteboard/Client/Shapes/Polyline.cs
  Whiteboard/Client/Shapes/Rectangle.cs
  Whiteboard/Client/StateOperationHandlers/ActiveBoardOperationsHandler.cs
  Whiteboard/Client/StateOperationHandlers/BoardOperationsState.cs
  Whiteboard/Client/StateOperationHandlers/InactiveBoardOperationsHandler.cs
  Whiteboard/DataStructures/BoardPriorityQueue.cs
  Whiteboard/DataStructures/BoardStack.cs
  Whiteboard/Server/Interfaces/IServerCheckPointHandler.cs
  Whiteboard/Server/ServerBoardStateManager.cs
  Whiteboard/Server/ServerCheckPointHandler.cs
Labels: Whiteboard, Testing, ScreenSharing

#110 Suddent client disconnection handled, Added author comments
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Client/SessionManagement/IClientSessionNotifications.cs
  Dashboard/Client/SessionManagement/IUXClientSessionManager.cs
  Dashboard/ClientToServerData.cs
  Dashboard/MeetingCredentials.cs
  Dashboard/Server/SessionManagement/ITelemetryNotifications.cs
  Dashboard/Server/SessionManagement/ITelemetrySessionManager.cs
  Dashboard/Server/SessionManagement/IUXServerSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Dashboard/Server/Telemetry/ITelemetry.cs
  Dashboard/Server/Telemetry/ServerDataToSave.cs
  Dashboard/Server/Telemetry/SessionAnalytics.cs
  Dashboard/Server/Telemetry/SessionSummary.cs
  Dashboard/Server/Telemetry/Telemetry.cs
  Dashboard/Server/Telemetry/TelemetryFactory.cs
  Dashboard/ServerToClientData.cs
  Dashboard/SessionData.cs
  Dashboard/SessionManagerFactory.cs
  Dashboard/SummaryData.cs
  Dashboard/UserData.cs
  Testing/Dashboard/ModuleTest.cs
  Testing/Dashboard/SessionManagement/SessionManagementTest.cs
  Testing/Dashboard/SessionManagement/TestModules/FakeClientUX.cs
  Testing/Dashboard/SessionManagement/TestModules/FakeCommunicator.cs
  Testing/Dashboard/SessionManagement/TestModules/FakeContentServer.cs
  Testing/Dashboard/SessionManagement/TestModules/FakeServerUX.cs
  Testing/Dashboard/SessionManagement/TestModules/FakeTelemetry.cs
  Testing/Dashboard/Summary/SummaryTest.cs
  Testing/Dashboard/Summary/Utils.cs
  Testing/Dashboard/Telemetry/TelemetryTests.cs
  Testing/Dashboard/TestModels/TestCommunicator.cs
  Testing/Dashboard/TestModels/TestContentServer.cs
  Testing/Dashboard/TestModels/TestUX.cs
  Testing/Dashboard/TestModels/TestWhiteBoard.cs
  Testing/Dashboard/Utils.cs
  Testing/UX/Authentication/AuthUtils.cs
Labels: Dashboard, Testing

#113 Disabled unstarring because the UX doesn't support unstarring
  Content/Models/ChatContext.cs
  Content/Server/ChatContextServer.cs
  Testing/Content/Client/ContentClientTest.cs
Labels: Content, Testing

#112 bud fixes
  Client/AuthView.xaml.cs
  Client/MainWindow.xaml
  Client/MainWindow.xaml.cs
  Client/Theme1.xaml
  Client/Theme2.xaml
  Client/UserViewData.cs
  Client/UsersList.xaml
  Client/UsersList.xaml.cs
  Client/Utils/WBStateToggleButton.xaml.cs
  Client/ViewModel/AuthViewModel.cs
  Client/ViewModel/ChatViewModel.cs
  Client/ViewModel/DashboardViewModel.cs
  Client/ViewModel/HomePageViewModel.cs
  Client/Whiteboard.xaml
  Client/Whiteboard.xaml.cs
  Client/WhiteboardUX.cs
  Testing/UX/Authentication/AuthUtils.cs
  Testing/UX/Authentication/AuthViewModelUnitTest.cs
  Testing/UX/Home/HomePageViewModelUnitTest.cs
  Testing/UX/Home/HomeUtils.cs
  Testing/UX/Whiteboard/WhiteboardViewModelUnitTests.cs
Labels: Testing, Client

#114 Bug fixes
  Client/ChatBubbleSelector.cs
  Client/ChatView.xaml
  Client/ChatView.xaml.cs
  Client/DashboardView.xaml
  Client/DashboardView.xaml.cs
  Client/MainWindow.xaml
  Client/MainWindow.xaml.cs
  Client/ScreenShareUX.xaml
  Client/ScreenShareUX.xaml.cs
  Client/UsersList.xaml
  Client/UsersList.xaml.cs
  Client/ViewModel/ChatViewModel.cs
  Client/ViewModel/DashboardViewModel.cs
  Client/ViewModel/HomePageViewModel.cs
  Client/ViewModel/ScreenShareViewModel.cs
  Client/Whiteboard.xaml
  Client/Whiteboard.xaml.cs
  Client/WhiteboardUX.cs
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Testing/UX/Chat/ChatUnitTests.cs
  Testing/UX/Chat/ChatUtils.cs
  Testing/UX/Home/HomePageViewModelUnitTest.cs
  Testing/UX/Home/HomeUtils.cs
  Testing/UX/Whiteboard/WhiteboardViewModelUnitTests.cs
Labels: Dashboard, Testing, Client

#115 added testcases for chat and home page
  Testing/E2E/Vishal/ChatPage.cs
  Testing/E2E/Vishal/HomePage.cs
  Testing/E2E/Vishal/Utils.cs
Labels: Testing

#116 Fixed bug showing incorrect timestamps on messages on a newly joined client that were sent before the client's joining
  Content/Models/MessageData.cs
  Content/Models/ReceiveMessageData.cs
  Content/Server/ContentDatabase.cs
  Testing/Content/Client/ContentClientTest.cs
Labels: Content, Testing

#117 Added Tests and bug fixes
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Testing/Dashboard/ModuleTest.cs
  Testing/Dashboard/Telemetry/TelemetryTests.cs
Labels: Dashboard, Testing

#118 Improved code coverage and refractoring
  Networking/CommunicationManager/ClientCommunicator.cs
  Networking/CommunicationManager/ServerCommunicator.cs
  Networking/INotificationHandler.cs
  Networking/QueueManagement/Queue.cs
  Networking/Serializer/Serializer.cs
  Networking/SocketManager/SendSocketListenerClient.cs
  Testing/Networking/ModuleTesting.cs
  Testing/Networking/QueueManagement/ReceiveQueueListenerTest.cs
Labels: Networking, Testing

#119 Fixes for screenshare and added author comments
  Client/MainWindow.xaml.cs
  Client/ViewModel/ScreenShareViewModel.cs
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  ModuleSpec/whiteboardAndScreenshare.pdf
  ScreenSharing/Client/ScreenShareClient.cs
  ScreenSharing/ScreenShareFactory.cs
  ScreenSharing/Server/ScreenShareServer.cs
  Testing/ScreenSharing/ScreenShareFactoryTesting.cs
  Testing/Whiteboard/Client/ClientBoardCommunicatorTesting.cs
  Testing/Whiteboard/Client/ClientCheckPointHandlerTesting.cs
  Testing/Whiteboard/ModuleTesting.cs
  Testing/Whiteboard/Server/ServerBoardCommunicatorTesting.cs
  Testing/Whiteboard/Server/ServerCheckPointHandlerTesting.cs
  Whiteboard/Client/ClientBoardCommunicator.cs
  Whiteboard/Client/ClientBoardStateManager.cs
  Whiteboard/Client/ClientCheckPointHandler.cs
Labels: Whiteboard, Dashboard, Testing, ScreenSharing, Client

#120 Test and Minor changes
  Client/ChatView.xaml
  Client/DashboardView.xaml.cs
  Client/ViewModel/DashboardViewModel.cs
  Client/Whiteboard.xaml
  Client/Whiteboard.xaml.cs
  Testing/UX/Dashboard/DashboardViewModelUnitTests.cs
  Testing/UX/Module/ModuleUtils.cs
  Testing/UX/Module/UXModuleTest.cs
  Testing/UX/Module/UXModuleTesting.cs
Labels: Testing, Client

#122 Added comments for socket management
  Networking/CommunicationManager/ClientCommunicator.cs
  Networking/SocketManager/SendSocketListenerServer.cs
Labels: Networking

#123 ScreenShare final changes
  Client/ScreenShareUX.xaml
  Client/ViewModel/ScreenShareViewModel.cs
  Server/Program.cs
  Testing/UX/Screenshare/ScreenScreenUnitTests.cs
Labels: Testing, Client, Server
