Repository Yogesh7920/meet.me, pull requests merged in 2021-10, with the labels that each got.

#2 content module spec added
  ModuleSpec/content.pdf
Labels: documentation

#6 UX Design Spec Added
  ModuleSpec/UX.pdf
Labels: documentation

#10 Content interfaces are added
  Content/Client/ContentClient.cs
  Content/Client/ContentClientFactory.cs
  Content/Client/ContentClientNotificationHandler.cs
  Content/Client/IContentClient.cs
  Content/Content.csproj
  Content/IContentListener.cs
  Content/Models/Enums.cs
  Content/Models/ReceiveMessageData.cs
  Content/Models/SendMessageData.cs
  Content/Models/Thread.cs
  Content/Server/ContentServerNotificationHandler.cs
  Content/server/ContentServer.cs
  Content/server/ContentServerFactory.cs
  Content/server/IContentServer.cs
Labels: enhancement, Content

#14 Minor Session Mangement Fix
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
Labels: enhancement, Dashboard

#15 UX: Server-Authentication
  Client/Client.csproj
  Client/Icons/WhiteboardUX/Toolbar/Eraser.png
  Client/Icons/WhiteboardUX/Toolbar/Pen.png
  Client/Icons/WhiteboardUX/Toolbar/bin.png
  Client/Icons/WhiteboardUX/Toolbar/drawEllipse.png
  Client/Icons/WhiteboardUX/Toolbar/drawLine.png
  Client/Icons/WhiteboardUX/Toolbar/drawRectangle.png
  Client/Icons/WhiteboardUX/Toolbar/duplication.png
  Client/Icons/WhiteboardUX/Toolbar/fill.png
  Client/Icons/WhiteboardUX/Toolbar/flag.png
  Client/Icons/WhiteboardUX/Toolbar/pencil.png
  Client/Icons/WhiteboardUX/Toolbar/selectTool.png
  Client/MainWindow.xaml
  Client/MainWindow.xaml.cs
  Client/Utils/WBStateToggleButton.xaml
  Client/Utils/WBStateToggleButton.xaml.cs
  Client/Whiteboard.xaml
  Client/Whiteboard.xaml.cs
  Client/WhiteboardUX.cs
  Server/Program.cs
  Server/Server.csproj
Labels: enhancement, UX

#16 Update GetCommunicator in CommunicationFactory
  Networking/CommunicationFactory.cs
  Networking/CommunicationManager/ICommunicator.cs
Labels: enhancement, Networking
